body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
  }
  
  .loading-circle {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #ff9a9a;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Define aquí tu animación (nombre, duración, repetición)*/
    animation: scaleAnimation 2s infinite;
  
  
  }

  @keyframes scaleAnimation {

    0% {
        background-color: aqua;
        transform: scale(1);
    }

    25% {
        background-color: darksalmon;
        transform: scale(2);
    }

    50% {
      background-color: aqua;
      transform: scale(1);
  }

  75% {
      background-color: darksalmon;
      transform: scale(2);
  }

  100% {
    background-color: aqua;
    transform: scale(1);
}

    
  }
  
  /* Escribe aquí los keyframes de tu animación */