* {
    margin: 0;
    padding: 0;
}

section {
    display: flex;
}

article {
    position: absolute;
    height: 200px;
    aspect-ratio: 1;
    border: 5px solid black;
    box-shadow: 10px 10px 5px gray;
}

article:nth-child(1) {
    background-color: aqua;
}

article:nth-child(2) {
    background-color: blueviolet;
    left: 210px;
    top: 210px;
}

article:nth-child(3) {
    background-color: darkorange;
    left: 420px;
}